<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student details</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div class="container">
        <h1> Student Details</h1>

        <form action="/data-save" method="post" enctype="multipart/form-data">
            <lable for="firstname">First Name: </lable>
            <input type="text" id="firstname" name="firstname" class="form-control" required placeholder="First Name">

            <lable for="lastname">Last Name: </lable>
            <input type="text" id="lastname" name="lastname" class="form-control" required placeholder="Last Name">

            <lable for="roll">Roll Number: </lable>
            <input type="text" id="roll" name="Roll" class="form-control" required placeholder="Roll">

            <lable for="Stream">Stream : </lable>
            <input type="text" id="Stream" name="Stream" class="form-control" required placeholder="Stream">


            <lable for="email">Email: </lable>
            <input type="text" id="email" name="email" class="form-control" required placeholder="Email Address">


            <lable for="day">Date of Birth: </lable>
            <input type="date" id="date" name="date" class="form-control" required pattern="\d{2}/\d{2}/\d{4} ">


            <button id="btn" type="submit">Submit</button>

        </form>
    </div>
</body>

</html>